body{
    background-color: rgb(151, 199, 253);
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h2{
    color: chocolate;
    font-family:Georgia, 'Times New Roman', Times, serif
}




  